<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.user.mapper.IArakuUserDao">

<select id="getArakuUser" parameterType="ArakuUser" resultType="ArakuUser">
select
  user_id
  , user_pass
  , date_format(reg_dt, '%Y-%m-%d %H:%i:%s') reg_dt
  , date_format(upd_dt, '%Y-%m-%d %H:%i:%s') upd_dt
  , date_format(last_login_dt, '%Y-%m-%d %H:%i:%s') last_login_dt
from araku_user_info
where 
  user_id = #{user_id}
<if test="user_pass != null and user_pass != ''">
and 
  user_pass = #{user_pass}
</if>
</select>

<update id="updateArakuUser" parameterType="ArakuUser">
update araku_user_info
set
  upd_user_id = #{user_id}
  , last_login_dt = now()
where
  user_id = #{user_id}
</update>

<select id="selectArakuUserAuth" resultType="ArakuAuth">
select menu_id
from araku_user_auth
where user_id = #{user_id}
<if test="menu_id != null and menu_id != ''">
and menu_id = #{menu_id}
</if>
</select>

<select id="selectArakuAuth" resultType="ArakuAuth">
select aui.user_id, aui.user_name, group_concat(auth.menu_id) as menu_id, aui.last_login_dt
from araku_auth auth
left join araku_user_auth renketsu on renketsu.menu_id = auth.menu_id
inner join araku_user_info aui on aui.user_id = renketsu.user_id
where aui.user_id is not null
group by aui.user_id
</select>

<delete id="deleteUserAuth">
delete from araku_user_auth
where user_id = #{user_id}
and menu_id = #{menu_id}
</delete>

<insert id="insertUserAuth">
insert into ARAKU_USER_AUTH (MENU_ID, USER_ID) VALUES (#{menu_id}, #{user_id});
</insert>

</mapper>