<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration PUBLIC "-//APACHE//DTD LOG4J 1.2//EN" "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n" />
		</layout>
	</appender>
	
	<!-- 출처: http://jace.tistory.com/111 [Jace's Blog] -->
	<appender name="file" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/file.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="list" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/list.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="amazon" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/amazon.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="rakuten" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/rakuten.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="batch" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/batch.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="q10" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/q10.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<appender name="yahoo" class="org.apache.log4j.DailyRollingFileAppender">
	    <param name="datePattern" value="'.'yyyy-MM-dd" />
	    <param name="file" value="${catalina.home}/araku/yahoo.log" />
	    <param name="append" value="true" />
	    <layout class="org.apache.log4j.PatternLayout">
	        <param name="ConversionPattern" value="[%-5p] %d{yyyy/MMM/dd HH:mm:ss.SSS} %l - %m%n"/>
	    </layout>
	</appender>
	
	<logger name="jp.prj.araku.file">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.list">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.amazon">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.rakuten">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.batch">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.q10">
		<level value="debug" />
	</logger>
	
	<logger name="jp.prj.araku.yahoo">
		<level value="debug" />
	</logger>
	
	<!-- application console log -->
	<logger name="jp.prj.araku">
		<level value="debug" />
	</logger>
	
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.core">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="info" />
	</logger>
	
	<logger name="org.springframework.context">
		<level value="info" />
	</logger>

	<logger name="org.springframework.web">
		<level value="info" />
	</logger>
	
	<logger name="java.sql">
		<level value="debug" />
	</logger>
	
	<category name="jp.prj.araku.file" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="file"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.list" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="list"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.amazon" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="amazon"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.rakuten" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="rakuten"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.batch" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="batch"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.q10" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="q10"/>
		<appender-ref ref="console" />
	</category>
	
	<category name="jp.prj.araku.yahoo" additivity="false">
		<priority value="debug" /><!-- 요놈의 레벨이 바뀌면 파일에 쓰이는 레벨이 바뀐다 -->
		<appender-ref ref="yahoo"/>
		<appender-ref ref="console" />
	</category>
	
	<!-- Root Logger -->
	<root>
		<priority value="warn" />
		<appender-ref ref="console" />
	</root>
	
</log4j:configuration>
