<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.tablet.mapper.ITabletPrdMapper">

<insert id="insertPrdInfo" parameterType="Prd" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into prd_info (prd_cd, jan_cd, prd_nm, prd_dtl, prd_cnt, order_no)
values (#{prd_cd}, #{jan_cd}, #{prd_nm}, #{prd_dtl}, #{prd_cnt}, #{order_no})
</insert>

<select id="getPrdInfo" parameterType="Prd" resultType="Prd">
select
	seq_id
	, date_format(register_date, '%Y/%m/%d') register_date
	, date_format(update_date, '%Y/%m/%d') update_date
	, prd_cd
	, jan_cd
	, prd_nm
	, prd_dtl
	, prd_cnt
	, order_no
from
	prd_info
<where>
	<trim prefixOverrides="AND |OR ">
	<if test="prd_cd != null and prd_cd != ''">
	prd_cd like '%${prd_cd}%'
	</if>
	<if test="prd_nm != null and prd_nm != ''">
	and prd_nm like '%${prd_nm}%'
	</if>
	</trim>
</where>
order by seq_id desc
</select>

<update id="updatePrdInfo" parameterType="Prd">
update
	prd_info
set
	update_date = now()
	<if test="prd_cd != null and prd_cd !=''">
	, prd_cd = #{prd_cd}
	</if>
	<if test="jan_cd != null and jan_cd !=''">
	, jan_cd = #{jan_cd}
	</if>
	<if test="prd_nm != null and prd_nm !=''">
	, prd_nm = #{prd_nm}
	</if>
	<if test="prd_dtl != null and prd_dtl !=''">
	, prd_dtl = #{prd_dtl}
	</if>
	<if test="prd_cnt != null and prd_cnt !=''">
	, prd_cnt = #{prd_cnt}
	</if>
	<if test="order_no != null and order_no !=''">
	, order_no = #{order_no}
	</if>
where
	<choose>
		<when test="update_type == 'cnt'">
		jan_cd = #{jan_cd}
		</when>
		<otherwise>
		seq_id = #{seq_id}
		</otherwise>
	</choose>
</update>

<delete id="deletePrdInfo" parameterType="String">
delete from
	prd_info
where
	seq_id = #{seq_id}
</delete>

<select id="getPrdManage" parameterType="Prd" resultType="Prd">
select 
	delivery_surname, delivery_name
	, order_surname, order_name
	, prd_cd, jan_cd, prd_nm, prd_dtl
	, unit_no, prd_cnt, pi.order_no
	, baggage_claim_no
from 
	rakuten_info ri
inner join prd_info pi on pi.prd_cd = ri.product_manage_no
where 
	baggage_claim_no = #{baggage_claim_no}
order by prd_cd, pi.order_no
</select>

<select id="getDealerInfo" parameterType="Dealer" resultType="Dealer">
select
	seq_id
	, register_date
	, update_date
	, dealer_id
	, dealer_nm
from
	dealer_info
order by seq_id desc
</select>

<insert id="insertDealerInfo" parameterType="Dealer" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into dealer_info(dealer_id, dealer_nm)
values (#{dealer_id}, #{dealer_nm})
</insert>

<update id="updateDealerInfo" parameterType="Dealer">
update
	dealer_info
set
	update_date = now()
	<if test="dealer_id != null and dealer_id !=''">
	, dealer_id = #{dealer_id}
	</if>
	<if test="dealer_nm != null and dealer_nm !=''">
	, dealer_nm = #{dealer_nm}
	</if>
where
	seq_id = #{seq_id}
</update>

<delete id="deleteDealerInfo" parameterType="String">
delete from
	dealer_info
where
	seq_id = #{seq_id}
</delete>

<select id="getStockManage" parameterType="Stock" resultType="Stock">
select
	sti.seq_id, jan_cd, prd_nm, prd_cnt, di.dealer_id, di.dealer_nm
	, date_format(receive_date, '%Y/%m/%d') receive_date
from
	stock_info sti
inner join dealer_info di on di.dealer_id = sti.dealer_id
<where>
	<trim prefixOverrides="AND |OR ">
		<if test="seq_id != null and seq_id != ''">
			sti.seq_id = #{seq_id}
		</if>
		<if test="jan_cd != null and jan_cd != ''">
			and jan_cd = #{jan_cd}
		</if>
		<if test="receive_date != null and receive_date != ''">
			and receive_date between
				str_to_date(concat(#{receive_date},' ','00:00:00'), '%Y/%m/%d %H:%i:%S')  
				and str_to_date(concat(#{receive_date},' ','23:59:59'), '%Y/%m/%d %H:%i:%S')
		</if>
		<if test="dealer_id != null and dealer_id != ''">
			and (di.dealer_id like '%${dealer_id}%' 
			or di.dealer_nm like '%${dealer_id}%')
		</if>
	</trim>
</where>
</select>

<select id="getPrdInfoForStock" parameterType="String" resultType="Prd">
select
	seq_id, jan_cd prd_cd, prd_nm, prd_dtl, prd_cnt
from
	prd_info
where
	jan_cd = #{jan_cd}
</select>

<insert id="insertStockManage" parameterType="Stock" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert stock_info (dealer_id, jan_cd, prd_nm, prd_cnt, receive_date)
values (#{dealer_id}, #{jan_cd}, #{prd_nm}, #{prd_cnt}, now())
</insert>

<update id="updateStockManage" parameterType="Stock">
update 
	stock_info
set 
	receive_date = now()
	, prd_cnt = #{prd_cnt}
where 
	seq_id = #{seq_id}
</update>
</mapper>
