<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.jaiko.partner.mapper.IJaikoPartnerMapper">

<select id="getPartner" parameterType="JaikoPartner" resultType="JaikoPartner">
select
  seq_id
  , partner_id
  , partner_nm
  , partner_post
  , partner_add
  , partner_tel
  , partner_fax
  , tantou_nm
  , date_format(reg_dt, '%Y/%m/%d') reg_dt
  , date_format(upd_dt, '%Y/%m/%d') upd_dt
from jaiko_partner_info
<where>
	<if test="keyword != null and keyword != ''">
	partner_id like '%${keyword}%' or
	partner_nm like '%${keyword}%'
	</if>
	<if test="seq_id != null and seq_id != ''">
	seq_id = #{seq_id}
	</if>
</where>
order by upd_dt desc, seq_id desc
</select>

<insert id="insertPartner" parameterType="JaikoPartner" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into jaiko_partner_info (partner_id, partner_nm)
values (#{partner_id}, #{partner_nm})
</insert>

<update id="updatePartner" parameterType="JaikoPartner">
update jaiko_partner_info
set
  upd_dt = now()
  <if test="partner_id != null and partner_id != ''">
  , partner_id = #{partner_id}
  </if>
  <if test="partner_nm != null and partner_nm != ''">
  , partner_nm = #{partner_nm}
  </if>
  <if test="partner_post != null and partner_post != ''">
  , partner_post = #{partner_post}
  </if>
  <if test="partner_add != null and partner_add != ''">
  , partner_add = #{partner_add}
  </if>
  <if test="partner_tel != null and partner_tel != ''">
  , partner_tel = #{partner_tel}
  </if>
  <if test="partner_fax != null and partner_fax != ''">
  , partner_fax = #{partner_fax}
  </if>
  <if test="tantou_nm != null and tantou_nm != ''">
  , tantou_nm = #{tantou_nm}
  </if>
where
  seq_id = #{seq_id}
</update>

<delete id="deletePartner" parameterType="java.lang.String">
delete from jaiko_partner_info
where seq_id = #{seq_id}
</delete>

</mapper>