<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.cancel.mapper.ICancelMapper">

<insert id="insertCancelInfo" parameterType="Cancel" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into cancel_info (
		seq_id
		, register_date
		, update_date
		, order_no
		, order_gbn
		, before_trans
		, after_trans
		, prd_cnt
		, baggage_claim_no
)
values(
#{seq_id}
, #{register_date}
, #{update_date}
, #{order_no}
, #{order_gbn}
, #{before_trans}
, #{after_trans}
, #{prd_cnt}
, #{baggage_claim_no}
)
</insert>

<select id="getCancelInfo" parameterType="Cancel" resultType="Cancel">
select 
	pti.seq_id, pti.register_date
	, pti.update_date, pti.order_no
	, pti.order_gbn, pti.jan_cd
	, pti.before_trans, pti.after_trans
	, pti.prd_cnt, rti.baggage_claim_no
from 
	prd_trans_info pti
right outer join rakuten_info rti on rti.order_no = pti.order_no
where 
	rti.baggage_claim_no = #{baggage_claim_no}
order by pti.order_no
</select>

<update id="updateCancelInfo" parameterType="Cancel">
update
	cancel_info
set
	update_date = now()
	<if test="jan_cd != null and jan_cd !=''">
	, jan_cd = #{jan_cd}
	</if>
	<if test="before_trans != null and before_trans !=''">
	, before_trans = #{before_trans}
	</if>
	<if test="after_trans != null and after_trans !=''">
	, after_trans = #{after_trans}
	</if>
	<if test="inprice != null and inprice !=''">
	, prd_cnt = #{prd_cnt}
	</if>
	<if test="baggage_claim_no != null and baggage_claim_no !=''">
	, baggage_claim_no = #{baggage_claim_no}
	</if>
where
	seq_id = #{seq_id}
</update>

<delete id="deleteCancelInfo" parameterType="java.lang.String">
delete from cancel_info
where seq_id = #{seq_id}
</delete>

<select id="getCancelManage" parameterType="java.lang.String" resultType="Cancel">
select 
	pti.seq_id, pti.register_date
	, pti.update_date, pti.order_no
	, pti.order_gbn, pti.jan_cd
	, pti.before_trans, pti.after_trans
	, pti.prd_cnt, rti.baggage_claim_no
from 
	prd_trans_info pti
right outer join rakuten_info rti on rti.order_no = pti.order_no
where 
	rti.baggage_claim_no = #{baggage_claim_no}
order by pti.order_no
</select>

<select id="showCancelManage" parameterType="java.lang.String" resultType="Cancel">
select 
	pti.seq_id, pti.register_date
	, pti.update_date, pti.order_no
	, pti.order_gbn, pti.jan_cd
	, pti.before_trans, pti.after_trans
	, pti.prd_cnt, rti.baggage_claim_no
from 
	prd_trans_info pti
right outer join rakuten_info rti on rti.order_no = pti.order_no
where 
	rti.baggage_claim_no = #{baggage_claim_no}
order by pti.order_no
</select>

<select id="multiCancelManage" parameterType="java.lang.String" resultType="Cancel">
select 
	pti.seq_id, pti.register_date
	, pti.update_date, pti.order_no
	, pti.order_gbn, pti.jan_cd
	, pti.before_trans, pti.after_trans
	, pti.prd_cnt, rti.baggage_claim_no
from 
	prd_trans_info pti
right outer join rakuten_info rti on rti.order_no = pti.order_no
where 
	rti.baggage_claim_no = #{baggage_claim_no}
order by pti.order_no
</select>
</mapper>
