<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.amazon.mapper.IAmazonMapper">

<insert id="insertAmazonInfo" parameterType="Amazon" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into amazon_info (
order_id
, order_item_id
, purchase_date
, payments_date
, reporting_date
, promise_date
, days_past_promise
, buyer_email
, buyer_name
, buyer_phone_number
, sku
, product_name
, quantity_purchased
, quantity_shipped
, quantity_to_ship
, ship_service_level
, recipient_name
, ship_address1
, ship_address2
, ship_address3
, ship_city
, ship_state
, ship_postal_code
, ship_country
, payment_method
, cod_collectible_amount
, already_paid
, payment_method_fee
, scheduled_delivery_start_date
, scheduled_delivery_end_date
, points_granted
, is_prime ) 
values(
#{order_id}
, #{order_item_id}
, #{purchase_date}
, #{payments_date}
, #{reporting_date}
, #{promise_date}
, #{days_past_promise}
, #{buyer_email}
, #{buyer_name}
, #{buyer_phone_number}
, #{sku}
, #{product_name}
, #{quantity_purchased}
, #{quantity_shipped}
, #{quantity_to_ship}
, #{ship_service_level}
, #{recipient_name}
, #{ship_address1}
, #{ship_address2}
, #{ship_address3}
, #{ship_city}
, #{ship_state}
, #{ship_postal_code}
, #{ship_country}
, #{payment_method}
, #{cod_collectible_amount}
, #{already_paid}
, #{payment_method_fee}
, #{scheduled_delivery_start_date}
, #{scheduled_delivery_end_date}
, #{points_granted}
, #{is_prime} )
</insert>

<select id="getAmazonInfo" parameterType="Amazon" resultType="Amazon">
select 
	ai.seq_id
	, date_format(ai.register_date, '%Y/%m/%d') register_date
	, date_format(ai.update_date, '%Y/%m/%d') update_date
	, err_text
	, order_id
	, order_item_id
	, purchase_date
	, payments_date
	, reporting_date
	, promise_date
	, days_past_promise
	, buyer_email
	, buyer_name
	, buyer_phone_number
	, sku
	, product_name
	, quantity_purchased
	, quantity_shipped
	, quantity_to_ship
	, ship_service_level
	, recipient_name
	, ship_address1
	, ship_address2
	, ship_address3
	, ship_city
	, ship_state
	, ship_postal_code
	, ship_country
	, payment_method
	, cod_collectible_amount
	, already_paid
	, payment_method_fee
	, scheduled_delivery_start_date
	, scheduled_delivery_end_date
	, points_granted
	, is_prime
	, delivery_company
	, baggage_claim_no
from
	amazon_info ai
left outer join translation_err terr on terr.trans_target_id = ai.seq_id and terr.trans_target_type = 'A'
<where>
	<choose>
	<when test="search_type =='srch'">
	<trim prefixOverrides="AND |OR ">
	<if test="register_date != null and register_date != ''">
	ai.register_date between str_to_date(concat(#{register_date},' ','00:00:00'), '%Y/%m/%d %H:%i:%S')  
	and str_to_date(concat(#{register_date},' ','23:59:59'), '%Y/%m/%d %H:%i:%S')
	</if>
	<if test="recipient_name != null and recipient_name != ''">
	and recipient_name like '%${recipient_name}%'
	</if>
	<if test="order_id != null and order_id != ''">
	and order_id like '%${order_id}%'
	</if>
	<if test="baggage_claim_no != null and baggage_claim_no != ''">
	and baggage_claim_no like '%${baggage_claim_no}%'
	</if>
	<if test="product_name != null and product_name != ''">
	and product_name like '%${product_name}%'
	</if>
	</trim>
	</when>
	<when test="search_type =='weekData'">
	<![CDATA[ ai.register_date < date_add(now(), interval -7 day) ]]>
	</when>
	<otherwise>
	<if test="order_id != null and order_id != '' and order_item_id != null and order_item_id != ''">
	order_id = #{order_id}
	and order_item_id = #{order_item_id}
	</if>
	<if test="seq_id_list != null">
		ai.seq_id in
		<foreach item="item" index="index" collection="seq_id_list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="delivery_company != null and delivery_company != ''">
	and delivery_company = #{delivery_company}
	</if>
	<if test="start_date != null and start_date != ''">
	ai.register_date between str_to_date(#{start_date}, '%Y/%m/%d %H:%i:%s') and now()
	</if>
	</otherwise>
	</choose>
</where>
order by purchase_date  desc
</select>

<select id="getTransResult" resultType="Amazon" parameterType="TransResult">
select 
	tr.seq_id
	, ai.seq_id real_seq_id
	, date_format(ai.register_date, '%Y/%m/%d') register_date
	, date_format(ai.update_date, '%Y/%m/%d') update_date
	, err_text
	, order_id
	, order_item_id
	, purchase_date
	, payments_date
	, reporting_date
	, promise_date
	, days_past_promise
	, buyer_email
	, buyer_name
	, buyer_phone_number
	, sku
	, result_text 
	, product_name
	, quantity_purchased
	, quantity_shipped
	, quantity_to_ship
	, ship_service_level
	, recipient_name
	, ship_address1
	, ship_address2
	, ship_address3
	, ship_city
	, ship_state
	, ship_postal_code
	, ship_country
	, payment_method
	, cod_collectible_amount
	, already_paid
	, payment_method_fee
	, scheduled_delivery_start_date
	, scheduled_delivery_end_date
	, points_granted
	, is_prime
	, delivery_company
from
	translation_result tr 
inner join amazon_info ai on ai.seq_id = tr.trans_target_id and tr.trans_target_type = 'A'
left outer join translation_err terr on terr.trans_target_id = ai.seq_id and terr.trans_target_type = 'A'
<where>
	<if test="trans_target_id != null">
		tr.trans_target_id = #{trans_target_id}
	</if>
	<if test="seq_id_list != null">
		tr.seq_id in
		<foreach item="item" index="index" collection="seq_id_list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	<if test="delivery_company != null and delivery_company != ''">
	and delivery_company = #{delivery_company}
	</if>
</where>
order by purchase_date  desc
</select>

<delete id="deleteAmazonInfo" parameterType="String">
delete from
	amazon_info
where
	seq_id = #{seq_id}
</delete>

<update id="updateAmazonInfo" parameterType="Amazon">
update
	amazon_info
set
	update_date = now()
	<if test="delivery_company != null and delivery_company !=''">
	, delivery_company = #{delivery_company}
	</if>
	<if test="baggage_claim_no != null and baggage_claim_no !=''">
	, baggage_claim_no = #{baggage_claim_no}
	</if>
where
	seq_id = #{seq_id}
</update>


<insert id="insertAmazonInfoTmp" parameterType="Amazon" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into amazon_info_tmp (
order_id
, order_item_id
, purchase_date
, payments_date
, reporting_date
, promise_date
, days_past_promise
, buyer_email
, buyer_name
, buyer_phone_number
, sku
, product_name
, quantity_purchased
, quantity_shipped
, quantity_to_ship
, ship_service_level
, recipient_name
, ship_address1
, ship_address2
, ship_address3
, ship_city
, ship_state
, ship_postal_code
, ship_country
, payment_method
, cod_collectible_amount
, already_paid
, payment_method_fee
, scheduled_delivery_start_date
, scheduled_delivery_end_date
, points_granted
, is_prime 
, result_text 
, delivery_company ) 
values(
#{order_id}
, #{order_item_id}
, #{purchase_date}
, #{payments_date}
, #{reporting_date}
, #{promise_date}
, #{days_past_promise}
, #{buyer_email}
, #{buyer_name}
, #{buyer_phone_number}
, #{sku}
, #{product_name}
, #{quantity_purchased}
, #{quantity_shipped}
, #{quantity_to_ship}
, #{ship_service_level}
, #{recipient_name}
, #{ship_address1}
, #{ship_address2}
, #{ship_address3}
, #{ship_city}
, #{ship_state}
, #{ship_postal_code}
, #{ship_country}
, #{payment_method}
, #{cod_collectible_amount}
, #{already_paid}
, #{payment_method_fee}
, #{scheduled_delivery_start_date}
, #{scheduled_delivery_end_date}
, #{points_granted}
, #{is_prime} 
, #{result_text} 
, #{delivery_company} )
</insert>

<select id="getAmazonInfoTmp" resultType="Amazon">
select * from amazon_info_tmp
</select>

<delete id="deleteAmazonInfoTmp">
delete from amazon_info_tmp
</delete>

</mapper>
