<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="jp.prj.araku.jaiko.inventory.mapper.IJaikoPrdInventoryMapper">

<select id="getJaikoPrdInventory" parameterType="JaikoPrdInventory" resultType="JaikoPrdInventory">
select
  seq_id
  , prd_cd
  , brand_nm
  , prd_nm
  , jan_cd
  , now_prd_cnt
  , prd_qty
  , prd_case
  , prd_bara
  , prd_lot
  , dealer_id
  , dealer_nm
  , sell_prc
  , date_format(exp_dt, '%Y/%m/%d') exp_dt
  , date_format(reg_dt, '%Y/%m/%d') reg_dt
  , date_format(upd_dt, '%Y/%m/%d') upd_dt
from jaiko_inventory_info
<where>
	<choose>
	<when test="search_type == 'srch'">
	<if test="seq_id != null and seq_id != ''">
	seq_id = #{seq_id}
	</if>
	<trim prefixOverrides="and|or">
	<if test="prd_cd != null and prd_cd != ''">
	and prd_cd like '%${prd_cd}%'
	</if>
	<if test="prd_nm != null and prd_nm != ''">
	and prd_nm like '%${prd_nm}%'
	</if>
	<if test="jan_cd != null and jan_cd != ''">
	and jan_cd like '%${jan_cd}%'
	</if>
	<if test="dealer_id != null and dealer_id != ''">
	and dealer_id = #{dealer_id}
	</if>
	<if test="seq_id_list != null">
		and seq_id in
		<foreach item="item" index="index" collection="seq_id_list"
			open="(" separator="," close=")">
			#{item}
		</foreach>
	</if>
	</trim>
	</when>
	<otherwise>
	upd_dt between date_add(now(), interval -1 day) and now()
	</otherwise>
	</choose>
</where>
order by upd_dt desc, seq_id desc
</select>

<insert id="insertJaikoPrdInventory" parameterType="JaikoPrdInventory" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into jaiko_inventory_info (prd_cd, brand_nm, prd_nm, jan_cd, now_prd_cnt
, prd_qty, prd_case, prd_bara, exp_dt, sell_prc
, prd_lot, dealer_id, dealer_nm)
values (#{prd_cd}, #{brand_nm}, #{prd_nm}, #{jan_cd}, #{now_prd_cnt}
, #{prd_qty}, #{prd_case}, #{prd_bara}, STR_TO_DATE('9999/12/31','%Y/%m/%d'), #{sell_prc}
, #{prd_lot}, #{dealer_id}, #{dealer_nm})
</insert>

<insert id="insertJaikoPrdInventoryForWareIn" parameterType="JaikoPrdInventory" useGeneratedKeys="true" keyProperty="seq_id" keyColumn="seq_id">
insert into jaiko_inventory_info (prd_cd, brand_nm, prd_nm, jan_cd, now_prd_cnt, exp_dt)
select prd_cd, brand_nm, prd_nm, jan_cd, prd_cnt, STR_TO_DATE('9999/12/31','%Y/%m/%d')
from jaiko_prd_info
where jan_cd = #{jan_cd}
</insert>

<update id="updateJaikoPrdInventory" parameterType="JaikoPrdInventory">
update jaiko_inventory_info
set
  upd_dt = now()
  <if test="prd_cd != null and prd_cd != ''">
  , prd_cd = #{prd_cd}
  </if>
  <if test="brand_nm != null and brand_nm != ''">
  , brand_nm = #{brand_nm}
  </if>
  <if test="prd_nm != null and prd_nm != ''">
  , prd_nm = #{prd_nm}
  </if>
  <if test="jan_cd != null and jan_cd != ''">
  , jan_cd = #{jan_cd}
  </if>
  <if test="now_prd_cnt != null and now_prd_cnt != ''">
  , now_prd_cnt = #{now_prd_cnt}
  </if>
  <if test="prd_qty != null and prd_qty != ''">
  , prd_qty = #{prd_qty}
  </if>
  <if test="prd_case != null and prd_case != ''">
  , prd_case = #{prd_case}
  </if>
  <if test="prd_bara != null and prd_bara != ''">
  , prd_bara = #{prd_bara}
  </if>
  <if test="exp_dt != null and exp_dt != ''">
  , exp_dt = STR_TO_DATE(#{exp_dt},'%Y/%m/%d')
  </if>
  <if test="sell_prc != null and sell_prc != ''">
  , sell_prc = #{sell_prc}
  </if>
  <if test="prd_lot != null and prd_lot != ''">
  , prd_lot = #{prd_lot}
  </if>
  <if test="dealer_id != null and dealer_id != ''">
  , dealer_id = #{dealer_id}
  </if>
  <if test="dealer_nm != null and dealer_nm != ''">
  , dealer_nm = #{dealer_nm}
  </if>
where
  <if test="seq_id != null and seq_id != '' and !(search_type == 'wareIn' or search_type == 'wareOut')">
  seq_id = #{seq_id}
  </if>
  <if test="jan_cd != null and jan_cd != '' and (search_type == 'wareIn' or search_type == 'wareOut')">
  jan_cd = #{jan_cd}
  </if>
</update>

<delete id="deleteJaikoPrdInventory" parameterType="java.lang.String">
delete from jaiko_inventory_info
where seq_id = #{seq_id}
</delete>

<select id="getJaikoInventoryDownList" resultType="JaikoPrdInventory">
select
  jpi.jan_cd
  , jpi.prd_nm
  , jpi.std_info
  , jpi.prd_unit_prc
  , jii.prd_qty
  , jii.prd_case
  , jii.prd_bara
  , date_format(jii.exp_dt, '%Y/%m/%d') exp_dt
  , jii.sell_prc
from jaiko_prd_info jpi
inner join jaiko_inventory_info jii on jii.jan_cd = jpi.jan_cd
</select>

</mapper>