@charset "UTF-8";

.loader {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url('./img/page-loader.gif') 50% 50% no-repeat rgb(249,249,249);
}


/*header font size*/
.ag-header-cell-label .ag-header-cell-text{
	font-size: 16px;
}

/*data(row) font size*/
.ag-row {
	font-size: 14px;
}

.ag-theme-balham .trans-created {
	background-color: #ff8533 !important;
}

.ag-theme-balham .trans-modified {
	background-color: #99ccff !important;
}

.ag-theme-balham .trans-error {
	background-color: #ff6666 !important;
}

.custm_btn {
	display: block;
	width: 115px;
	height: 25px;
	background: #4E9CAF;
	/*padding: 10px;*/
	text-align: center;
	border-radius: 5px;
	color: white;
	font-weight: bold;
}
