@charset "UTF-8";

/* オリジナルボタン */
.original_btn {
    border: 1px solid #ddd;
    width: 120px;
    padding: 10px;
    cursor: pointer;
    border-radius: 5px;
    color: #666;
    background: linear-gradient(to bottom,#fff 0,#f4f4f4 100%);
    box-shadow: inset 0px -1px 0px 0px rgba(0, 0, 0, 0.09);
}
/* 未選択時のアイコン */
.icon {
    font-size: 12px;
    margin: 0 10px 0 15px;
    padding: 3px 30px;
    border-radius: 15px;
    background: #666;
    color: #fff;
    display: inline-block;
}
/* 選択時のアイコン */
.icon.select {
    background: #ff5050;
    color: #fff;
}
/* ファイル名 */
.rak-filename {
    display: inline-block;
    font-size: 14px;
}
.ama-filename {
    display: inline-block;
    font-size: 14px;
}
.yu-filename {
    display: inline-block;
    font-size: 14px;
}
.items-filename {
    display: inline-block;
    font-size: 14px;
}

